<!-- Start Content -->
<div id="content">
  <div class="container">
    <div class="page-content">
      <div class="row sidebar-page">
        <!--Sidebar-->
        <sidebar-component semester="$ctrl.semester" department="$ctrl.department" coursesselected="$ctrl.courses_selected"></sidebar-component>
        <!--End sidebar-->
        <!-- Page Content -->
        <div class="col-sm-9 col-xs-12 page-content">
          <!-- Classic Heading -->
          <!-- <h4 class="classic-title"><span>Courses</span></h4> -->
          <filters-component filters="$ctrl.filters" change="$ctrl.updateFilters(value)"></filters-component>
          <ul class="dept_class_list" ng-if="$ctrl.loading_courses">
            <li><div class="loader"></div> <div class="status">Loading Course Listings...</div></li>
          </ul>
          <div ng-if="!$ctrl.loading_courses">
              <course-listings-component filters="$ctrl.filters" courses="$ctrl.courses" course-selections="$ctrl.courses_selected" icons="true" show-crn-selections="true" show-total-credits="true" change="$ctrl.selectionsChanged(value)"></course-listings-component>
          </div>
        </div>
        <!-- End Page Content-->
      </div>
    </div>
  </div>
</div>