<!-- Start Content -->
<div id="content">
  <div class="container">
    <div class="page-content">
      <div class="row sidebar-page">
        <!--Sidebar-->
        <sidebar-component semester="$ctrl.semester" department="$ctrl.department"></sidebar-component>
        <!--End sidebar-->
        <!-- Page Content -->
        <div class="col-sm-9 col-xs-12 page-content">
          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Courses</span></h4>
          <ul id="dept_class_list"><li><div class="loader"></div> <div class="status">Loading Course Listings...</div></li></ul>
        </div>
        <!-- End Page Content-->
      </div>
    </div>
  </div>
</div>