<!-- Start Home Page Slider -->
<section id="home">
  <!-- Carousel -->
  <div id="main-slide" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <!-- <ol class="carousel-indicators">
      <li data-target="#main-slide" data-slide-to="0" class="active"></li>
    </ol> -->
    <!--/ Indicators end-->

    <!-- Carousel inner -->
    <div class="carousel-inner">
      <div class="item active">
        <img class="img-responsive" src="images/slider/bg1.jpg" alt="slider">
        <div class="slider-content">
          <div class="col-md-12 text-center">
            <h2 class="animated2">
                          <span>Welcome to <strong>MSCschedulizer</strong></span>
                          </h2>
            <h3 class="animated3">
                            <span>Find the perfect course schedule in minutes</span>
                          </h3>
            <p class="animated4"><a ui-sref="select-classes" class="slider btn btn-system btn-large">Get Started</a>
            </p>
          </div>
        </div>
      </div>
      <!--/ Carousel item end -->
    </div>
    <!-- Carousel inner end-->

  </div>
  <!-- /carousel -->
</section>
<!-- End Home Page Slider -->
<div id="content">
      <div class="container">
        <div class="page-content">
          <div class="row">

            <div class="col-md-12">
              <!-- Classic Heading -->
              <h4 class="classic-title"><span>Demo</span></h4>
              <iframe width="420" height="315" src="https://www.youtube.com/embed/QiC1SQgJImU" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
      </div>
    </div>
</div>