<!-- Start Content -->
<div id="content">
  <div class="container">
    <div class="page-content">
      <div class="row sidebar-page">
        <!--Sidebar-->
        <sidebar-component semester="$ctrl.semester" department="$ctrl.department" coursesselected="$ctrl.courses_selected"></sidebar-component>
        <!--End sidebar-->
        <!-- Page Content -->
        <div class="col-sm-9 col-xs-12 page-content">
          <!-- Classic Heading -->
          <h4 class="classic-title"><span>Courses</span></h4>
          <ul id="dept_class_list">
            <li ng-if="$ctrl.loading_courses"><div class="loader"></div> <div class="status">Loading Courses...</div></li>
            <li ng-if="!$ctrl.loading_courses" ng-repeat="course in $ctrl.courses" ng-bind-html-unsafe="course.CourseTitle" >
              <a class="a_course" ng-click="$ctrl.select_course(course)">{{ course.DepartmentCode }} {{ course.CourseNumber }} - {{ course.CourseTitle }}</a>
            </li>
          </ul>
        </div>
        <!-- End Page Content-->
      </div>
    </div>
  </div>
</div>