<div class="col-sm-3 col-xs-12 sidebar left-sidebar">
  <div class="widget widget-categories">
    <h4>Semesters <span class="head-line"></span></h4>
    <semester-selector semester="$ctrl.semester" change="$ctrl.semesterChanged(value)"></semester-selector>
  </div>
  <!-- Tags Widget -->
  <div class="widget widget-tags">
    <h4>Selections <span class="head-line"></span></h4>
    <course-selections coursesselected="$ctrl.coursesselected"></course-selections>
  </div>
  <!-- Categories Widget -->
  <div class="widget widget-categories">
    <h4>Departments <span class="head-line"></span></h4>
    <department-selector department="$ctrl.department" semester="$ctrl.semester" change="$ctrl.departmentChanged(value)"></department-selector>
  </div>
</div>