<div class="modal-header">
  <h3 class="modal-title">Visual Filters</h3>
</div>
<div class="modal-body">
	<div ng-if="$ctrl.adjustments.Courses.length === 0 && $ctrl.adjustments.Sections.length === 0 && $ctrl.adjustments.Meetings.length === 0">
		Check out the <a ui-sref="visual-filter">visual filter view</a> to visually filter course sections.
	</div>
	<div ng-if="!($ctrl.adjustments.Courses.length === 0 && $ctrl.adjustments.Sections.length === 0 && $ctrl.adjustments.Meetings.length === 0)">
		<adjustments-listing-component change="$ctrl.selectionsChanged(value)"></adjustments-listing-component>
	</div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$ctrl.close()">Close</button>
  <!--<button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>-->
</div>